<h1>The saved card</h1>

<div id="flashcard-container">
    <div class="flashcards" id="flashcard-solo">
      <div class="front">
        <h3><b> <%= viewData.front?.translation %> </b></h3>
        <p> <%= viewData.front?.gapSentence %></p>
      </div>
      <div class="back hidden">
        <h3><b> <%= viewData.back?.word %> </b></h3>
        <p><%= viewData.back?.pronunciation %></p>
        <p><%= viewData.back?.sentence %></p>
      </div>
      <div>
        <button class="flip-flashcards" id="<%= viewData.back?.word %>">Flash!</button>
      </div>
</div>
</div>

  <script src="./js/cards.js"></script>