<div>
  <h1>
    Create a flashcard, if you dare!
  </h1>
  <div class="search-word">
    <form class="search-form" action="./flashcards/search" method="post">
      <div class="input-search">
        <label for="search">Enter a dutch word:</label>
        <input type="text" id="search-input" name="search">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  <% if (viewData) { %>
  <div>
    <form class="create-flashcard" method="post" action="./flashcards/create">
      <div class="input-create">
        <label for="word">Word:</label>
        <input type="text" name="word" class="word" value="<%= viewData.word %>">
        <label for="translation">Translation:</label>
        <input type="text" name="translation" class="translation" placeholder="<%= viewData.translation %>">
        <label for="gap-sentence">Sentence:</label>
        <textarea name="gap-sentence" class="gap-sentence"><%= viewData.gapSentence %></textarea>
        <label for="pronunciation">Pronunciation:</label>
        <input type="text" name="pronunciation" class="pronunciation" value="<%= viewData.pronunciation %>">
        <label for="sentence">Full sentence:</label>
        <textarea type="text" name="sentence" iclass="sentence"><%= viewData.sentence %></textarea>
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
  <% } %>
</div>