<div class="flashcards">
  <h1 id="headline">
    Get ready to flash:
  </h1>
  <% if (viewData?.length) { %>
    <div class="flashcard-container">
    <% viewData.forEach( flashcard => { %>
        <div class="flashcard">
          <div class="front">
            <div class="card-top-row">
              <h3><b> <%= flashcard.front?.translation %> </b></h3>
              <div class="edit-delete-buttons">
                <form action="./flashcards/<%= flashcard.id %>/delete" method="post" >
                  <button class="delete-card" id="<%= flashcard.id %>" type="submit">Delete</button>
                </form>
              </div>
            </div>
            <p> <%= flashcard.front?.gapSentence %></p>
          </div>
          <div class="back hidden">
            <div class="card-top-row">
              <h3><b> <%= flashcard.back?.word %> </b></h3>
              <div class="edit-delete-buttons">
                <form action="./flashcards/<%= flashcard.id %>/delete" method="post" >
                  <button class="delete-card" id="<%= flashcard.id %>" type="submit">Delete</button>
                </form>
              </div>
            </div>
            <p><%= flashcard.back?.pronunciation %></p>
            <p><%= flashcard.back?.sentence %></p>
          </div>
          <div>
            <button class="flip-flashcards" id="flash-<%=flashcard.id %>">Flash!</button>
          </div>
        </div>
    <% }) %>
    </div>
  <% } else { %>
    <div>
      <p>No cards in the deck!</p>
    </div>
    <% } %>
</div>

<script src="./js/cards.js"></script>